body {
  background-color: rgba(000, 000, 000, 0.75);
}

/* When clicked on, add a background color and strike out text */
ul li {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  font-size: 18px;
  transition: 0.2s;
  background-color: #FFf;
  padding: 7.5px 15px;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

ul li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
  padding-left: 2.5em;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 15px;
  right: 0;
  top: 0;
  font-size: 25px;
  bottom: 0;
  margin: auto 0;
}

.close:hover {
  background-color: #f44336;
  color: white;
}